@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS
#03D368: Verde
#224957: Verde Oscuri
#FBFEFA: Blanco
#E5E5E5: Gris
#192C8C: Azul Claro
#00082D: Azul Oscuro
*/

html,
body,
#root,
.App {
  width: 100% !important;
  height: 100% !important;
  background-color: #e2f5ff;
  font-family: 'Roboto', sans-serif;
}
