@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS
#00082D: Azul
#03E56F: Verde
#FBFEFA: Blanco
*/
html,
body,
#root,
.App {
  width: 100% !important;
  height: 100% !important;
  background-color: #e2f5ff;

}
